<div>
  <h6>RESET PASSWORD</h6>
</div>
<div *ngIf="statusCode === modelState.INVALID">
  <form (submit)="onSubmit($event)">
    <dx-form [formData]="resetPassword" [(disabled)]="loading">
      <dxi-item
        dataField="newPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Password',
          mode: 'password'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Password is required"
        ></dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item
        dataField="confirmPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Confirm Password',
          mode: 'password'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Password is required"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="custom"
          message="Passwords do not match"
          [validationCallback]="confirmPassword"
        >
        </dxi-validation-rule>
        <dxo-label [visible]="false"></dxo-label>
      </dxi-item>

      <dxi-item itemType="button">
        <dxo-button-options
          width="100%"
          type="default"
          [useSubmitBehavior]="true"
          [template]="'changePasswordTemplate'"
        >
        </dxo-button-options>
      </dxi-item>

      <ng-container *dxTemplate="let item of 'changePasswordTemplate'">
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>
          </ng-container>
          <ng-template #notLoading>Submit</ng-template>
        </span>
      </ng-container>
    </dx-form>
  </form>
</div>
<div *ngIf="statusCode === modelState.VALID">
  <p>We are sorry, but your link is no longer valid.</p>
  <p style="float: right"><a routerLink="login-form">Back to home</a></p>
</div>
<div *ngIf="statusCode === modelState.SUCCESS">
  <p>
    Your password has been reset... You can click
    <a routerLink="login-form">here</a> to log in...
  </p>
</div>
