<dx-popup
  [maxWidth]="1000"
  height="auto"
  [showTitle]="true"
  title="Change Password"
  [closeOnOutsideClick]="false"
  [showCloseButton]="true"
  [(visible)]="popupVisible"
  (onShown)="setFocus($event)"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="saveButtonOptions"
    [(disabled)]="disableSubmitButton"
  >
  </dxi-toolbar-item>

  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
    [(disabled)]="disableSubmitButton"
  >
  </dxi-toolbar-item>

  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [formData]="changePassword" [colCount]="1">
      <dxi-item
        dataField="password"
        editorType="dxTextBox"
        [label]="{ text: 'Old Password' }" 
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Password',
          mode: 'password'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="The Old Password field is required."
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [max]="50"
          message="The Old Password field must be between 6 and 50 characters"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [min]="6"
          message="The Old Password field must be at least 6 characters"
        >
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="newPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'New Password',
          mode: 'password'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="The New Password field is required."
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [max]="50"
          message="The New Password field must be between 6 and 50 characters"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [min]="6"
          message="The New Password field must be at least 6 characters"
        >
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item
        dataField="confirmPassword"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Comfirm Password',
          mode: 'password'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="The Confirm Password field is required."
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [max]="50"
          message="The Confirm Password field must be between 6 and 50 characters"
        >
        </dxi-validation-rule>
        <dxi-validation-rule
          type="stringLength"
          [min]="6"
          message="The Confirm Password field must be at least 6 characters"
        >
        </dxi-validation-rule>

        <dxi-validation-rule
          type="custom"
          message="The New Password and Confirm Password do not match"
          [validationCallback]="confirmPassword"
        >
        </dxi-validation-rule>
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>
