<h2>Timesheet Group</h2>
<!-- Datagrid list Activity Group -->
<dx-data-grid
  id="groupContainer"
  [dataSource]="activityGroups"
  keyExpr="id"
  [allowColumnReordering]="false"
  [showBorders]="true"
  [rowAlternationEnabled]="true"
  (onRowInserted)="onCreate($event)"
  (onRowUpdated)="onUpdate($event)"
  (onRowRemoved)="onDelete($event)"
>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-header-filter [visible]="true"> </dxo-header-filter>
  <dxo-pager
    [showPageSizeSelector]="true"
    [allowedPageSizes]="[10, 25, 50, 100]"
  ></dxo-pager>
  <dxo-search-panel
    [visible]="true"
    [width]="240"
    placeholder="Search..."
  ></dxo-search-panel>

  <dxo-editing
    [allowUpdating]="true"
    [allowDeleting]="true"
    [allowAdding]="true"
    [selectTextOnEditStart]="false"
    [useIcons]="true"
    [confirmDelete]="true"
  >
  </dxo-editing>

  <dxi-column dataField="name" caption="Name" [allowSorting]="false">
    <dxi-validation-rule
      type="required"
      message="Name is required"
    ></dxi-validation-rule>
  </dxi-column>
  <dxi-column
    dataField="description"
    [allowSorting]="false"
    [allowHeaderFiltering]="false"
  ></dxi-column>
  <dxi-column cellTemplate="cellTemplate"></dxi-column>
  <div *dxTemplate="let data of 'cellTemplate'">
    <dx-button
      stylingMode="contained"
      text="Detail"
      hint="Detail"
      type="default"
      [width]="100"
      (onClick)="opOpenGroupDetail($event, data)"
      style="float: right"
    >
    </dx-button>
  </div>
  <dxi-column type="buttons" [width]="100">
    <dxi-button name="edit" cssClass="buttonEdit"></dxi-button>
    <dxi-button name="delete"></dxi-button>
  </dxi-column>
</dx-data-grid>
<!-- End datagrid list Activity Group -->

<!-- Popup detail Activity group -->
<dx-popup
  [maxWidth]="1000"
  [maxHeight]="1000"
  [showTitle]="true"
  [(title)]="groupTitle"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [(visible)]="groupDetailPopup"
  [showCloseButton]="false"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <dx-tab-panel [selectedIndex]="0" [loop]="false" [animationEnabled]="true">
      <dxi-item title="Activity">
        <dx-data-grid
          class="groupActivity"
          [dataSource]="activities"
          keyExpr="id"
          [allowColumnReordering]="false"
          [showBorders]="true"
          [rowAlternationEnabled]="true"
          (onRowInserted)="onCreateActivity($event)"
          (onRowUpdated)="onUpdateActivity($event)"
          (onRowRemoved)="onDeleteActivity($event)"
        >
          <dxo-header-filter [visible]="true"> </dxo-header-filter>
          <dxo-scrolling
            mode="virtual"
            rowRenderingMode="virtual"
          ></dxo-scrolling>
          <dxo-editing
            [allowUpdating]="true"
            [allowDeleting]="true"
            [allowAdding]="true"
            [selectTextOnEditStart]="false"
            [useIcons]="true"
            [confirmDelete]="true"
          >
          </dxo-editing>
          <dxi-column
            dataField="name"
            caption="Name"
            [allowSorting]="false"
            sortOrder="asc"
          >
            <dxi-validation-rule
              type="required"
              message="Name is required"
            ></dxi-validation-rule>
          </dxi-column>
          <dxi-column
            dataField="description"
            caption="Description"
            [allowSorting]="false"
            [allowHeaderFiltering]="false"
          >
          </dxi-column>
        </dx-data-grid>
      </dxi-item>
      <dxi-item title="Access">
        <div *dxTemplate="let data of 'content'">
          <dx-data-grid
            class="groupAccess"
            [dataSource]="users"
            keyExpr="id"
            [allowColumnReordering]="false"
            [showBorders]="true"
            [rowAlternationEnabled]="true"
            (onToolbarPreparing)="onToolbarPreparing($event)"
          >
            <dxo-scrolling
              mode="virtual"
              rowRenderingMode="virtual"
            ></dxo-scrolling>
            <div *dxTemplate="let cell of 'myToolbarTemplate'">
              <dx-button
                style="float: right; width: auto"
                stylingMode="contained"
                type="success"
                text="Add"
                icon="plus"
                (onInitialized)="onInitButtonAddUser($event)"
                (onClick)="onAddGroupUser($event)"
              >
              </dx-button>
            </div>
            <dxi-column dataField="fullName" caption="Name"> </dxi-column>
            <dxi-column dataField="email" caption="Email"> </dxi-column>
            <dxi-column dataField="role" caption="Role">
              <dxo-lookup
                [dataSource]="tsRoleDataSource"
                valueExpr="value"
                displayExpr="caption"
              ></dxo-lookup>
            </dxi-column>

            <dxi-column cellTemplate="cellTemplate"> </dxi-column>
            <div *dxTemplate="let data of 'cellTemplate'">
              <dx-button
                style="float: right; margin-right: 20px"
                stylingMode="contained"
                text="DETAIL"
                hint="Detail"
                type="default"
                [max-width]="100"
                (onClick)="onOpenDetailGroupUser($event, data)"
              >
              </dx-button>
            </div>
          </dx-data-grid>
        </div>
      </dxi-item>
    </dx-tab-panel>
  </div>
</dx-popup>
<!-- End Popup detail Activity group-->

<!-- Popup detail, edit access user -->
<dx-popup
  [maxWidth]="500"
  [maxHeight]="500"
  [showTitle]="true"
  [(title)]="popupTitle"
  draggable="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  [(visible)]="popupGroupUser"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [visible]="model.state === formState.EDIT"
    [options]="SaveEditedButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [visible]="model.state === formState.DETAIL"
    [options]="enterEditFormButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [visible]="model.state === formState.DETAIL"
    [options]="DeleteButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeGroupUserDetail"
    [visible]="model.state === formState.DETAIL"
  ></dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeGroupUserAddEdit"
    [visible]="
      model.state === formState.CREATE || model.state === formState.EDIT
    "
  ></dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="SaveAddedButtonOptions"
    [visible]="model.state === formState.CREATE"
  >
  </dxi-toolbar-item>

  <dx-form id="formDetail" [(formData)]="detailUserDataSource" [colCount]="1">
    <dxi-item [label]="{ text: 'Name' }">
      <div *dxTemplate>
        <dx-select-box
          [dataSource]="dataSourceSelectBox"
          valueExpr="id"
          displayExpr="fullNameEmail"
          [showClearButton]="true"
          [searchEnabled]="true"
          [(value)]="detailUserDataSource.userId"
          [readOnly]="
            model.state === formState.DETAIL || model.state === formState.EDIT
          "
        >
        </dx-select-box>
      </div>
      <dxi-validation-rule type="required" message="User is required">
      </dxi-validation-rule>
    </dxi-item>

    <dxi-item [label]="{ text: 'Role' }">
      <div *dxTemplate>
        <dx-select-box
          [dataSource]="tsRoleDataSource"
          valueExpr="value"
          displayExpr="caption"
          [(value)]="detailUserDataSource.role"
          [readOnly]="model.state === formState.DETAIL"
        >
        </dx-select-box>
      </div>
      <dxi-validation-rule type="required" message="Role is required">
      </dxi-validation-rule>
    </dxi-item>
  </dx-form>
</dx-popup>
<!-- End Popup detail, edit access user -->
