<div *ngIf="isSuccess === false">
  <p>Please enter the email address that you used to register, and we will send you a link to reset your password via Email.</p>
  <form class="forgot-password-form" (submit)="onSubmit($event)">
    <dx-form [formData]="forgotPassword" [disabled]="loading">
      <dxi-item
        dataField="email"
        editorType="dxTextBox"
        [editorOptions]="{
          stylingMode: 'filled',
          placeholder: 'Email',
          mode: 'email'
        }"
      >
        <dxi-validation-rule
          type="required"
          message="Email is required"
        ></dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          message="Email is invalid"
        ></dxi-validation-rule>
      
      </dxi-item>
  
      <dxi-item>
        <div class="login-link">
          {{errorMessage}}
        </div>
      </dxi-item>
  
      <dxi-item itemType="button">
        <dxo-button-options
          width="100%"
          type="default"
          [useSubmitBehavior]="true"
          [template]="'forgotPasswordTemplate'"
          [elementAttr]="{ class: 'submit-button' }"
        >
        </dxo-button-options>
      </dxi-item>
      <dxi-item>
        <div class="login-link">Back to <a routerLink="/login">Sign In</a></div>
      </dxi-item>
  
      <ng-container *dxTemplate="let item of 'forgotPasswordTemplate'">
        <span class="dx-button-text">
          <ng-container *ngIf="loading; else notLoading">
            <dx-load-indicator
              width="24px"
              height="24px"
              [visible]="true"
            ></dx-load-indicator>
          </ng-container>
          <ng-template #notLoading>Reset password</ng-template>
        </span>
      </ng-container>
    </dx-form>
  </form>
  
</div>
<div *ngIf="isSuccess === true">
    <p>Please check your email to reset your password!</p>
    <div class="login-link">Back to <a routerLink="/login">Log In</a></div>
</div>
